INSTANTLY_API_KEY=NzYzNzhlMDQtYjU3My00ZGUwLTk3ZTItZDI4M2E3MTI5NDQ0Om9tWnlSYWVmclpHTQ==
HUBSPOT_API_KEY=eu1-7d9f-f9b9-4333-a080-30c86a24a19b
CRON_SECRET=AETHER2026_CRON_SECRET_STRING_EXAMPLE
ANTHROPIC_API_KEY=sk-ant-...
